AITOPS_BASE_URL=https://missioncontrol.qa.aitops.ai/
AITOPS_EMAIL=
AITOPS_USER_NAME=
AITOPS_USER_EMAIL=
AITOPS_USER_PASSWORD=
AITOPS_ACCESS_CODE=
AITOPS_ACCESS_CLIENT_ID=
AITOPS_ACCESS_CLIENT_SECRET=
ENABLE_DESTRUCTIVE_TESTS=false
